<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @job.publish_date %>
</p>

<p>
  <strong>Info:</strong>
  <%= @job.info %>
</p>

<p>
  <strong>Link:</strong>
  <%= @job.link %>
</p>

<p>
  <strong>Is online:</strong>
  <%= @job.is_online %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
